EMAIL_USER=9b9318001@smtp-brevo.com
EMAIL_PASS=xsmtpsib-dcdec31fea71605534d92a765aea30b15f3890bfa401417a21a9b89b39416c1c-LQRh0B7PDeGKnTT4
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
MONGODB_URI=mongodb+srv://raycharlesvalino1993:cFivVRlUuJfZaHsW@oslam.dc7gcib.mongodb.net/?appName=oslam
